.sect3_menu{
    background-image:url(/assets/images/header-menu-01.jpg.webp);
    height:100%;
    margin-top:200px;
    padding-bottom: 120px;
    padding-top: 90px;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.lunch{
    text-align: center;
    font-family: $font-family1;
    color:$primary-color;
    font-size: 50px;
    font-weight: 700;
    letter-spacing:5px;
}

.sect5_menu{
    background-image:url(/assets/images/header-menu-02.jpg.webp);
    height:100%;
    margin-top:200px;
    padding-bottom: 120px;
    padding-top: 90px;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
} 

.dinner{
    text-align: center;
    font-family: $font-family1;
    color:$primary-color;
    font-size: 50px;
    font-weight: 700;
    letter-spacing:5px;
}

