.background-image{
    background-image: url(/Holiday-task/assets/images/pattern1.png.webp);
    background-repeat: repeat;
}

.background-image-functions{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page_header{
    text-align: center;
    font-family: $font-family1;
    color: $primary-color;
    font-size: 35px;
    font-weight: 600;
    padding-top: 250px;
    letter-spacing: 3px;
}
.lunch-dinner{
    text-align: center;
    font-family: $font-family1;
    color:$primary-color;
    font-size: 50px;
    font-weight: 700;
    letter-spacing:5px;
}