.background-image{
    background-image: url(/Holiday-task/assets/images/pattern1.png.webp);
    background-repeat: repeat;
}

.background-image-functions{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}