$primary-color:white;
$secondary-color:black;
$paragraph_color: #666666;
$head-color:#222222;
$footer-color:#999999;
$background-color:white;
$red-color:red;
$font-family1:"Poppins";
$font-family2: "Courgette";



