header{
    background-image: url("/assets/images/slide1-01.jpg.webp"); 
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    // width: 571px;
    position: relative;
    left: 0px;
    top: 0px;
    transition: opacity 500ms ease 0s;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color:transparent ;
}

.menu{
    ul{
        li{
            display: inline-block;
            padding: 18px;
            
        }
    }
}

.menu{
    ul{
        li{
            a{
                color: $primary-color;
                font-size: 20px;
                font-family: $font-family1;


            }
        }
    }
}

.social_media{
    a{
        i{
            color:$primary-color;
            padding:10px;
            font-size: 20px;
        }
    }
}

.hero{
    @include display-flex(center, center);
    flex-direction: column;
    margin-top: 180px;
    
}


.welcome_{
    font-size: 40px;
    font-family: $font-family2;
    color: $primary-color;
}
.Pato{
    font-size: 80px;
    font-family: $font-family1;
    color: $primary-color;
}

.button{
    @extend %primary-btn;
    margin:100px auto;
    &:hover{
        // color:$primary-color;
        background-color: $red-color;
    }
    a{
        @include display-flex(center, center);
        margin-top:10px;
        color: $red-color;
        // &:hover{
        //     color:$primary-color;
        // }
    }
}

.circle_btn{

    @include display-flex(center, center);
    flex-direction: row;
    ul{
        li{
            button{
                border-radius:50%;
                width: 20px;
                height: 20px;
                color:transparent;
                background-color: #958e88;

            }
            
            

        }
    }
}