%primary-btn {
    width: 120px;
    height: 30px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: $background-color;
    text-transform: uppercase;
    cursor: pointer;
}