header{
    width: 100%;
    position: fixed;
    z-index: 999;
    border-top: 3px solid red;
    background-color: white;
}

.navbar{
    height:80px;
    color: $primary-color;
    @include display-flex(space-between,center);
}

nav{
    ul{
        @include display-flex(center,center);
        gap:60px;
        li{
            a{
            color:$head-color;
            font-size: 15px;
            font-family: $font-family3;
            transition: .6s;
            &:hover{
                color:$red-color;
            }
            }
        
        }
    }
}

.social_icons{
    display: flex;
    gap:20px;
    a{
        color: $head-color;
        font-size: 14px;
        transition: .4s;
        &:hover{
            color:$red-color;
        }
    }
}
